<connectionStrings>
  <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ftpwebjob;AccountKey=B4xeV0rR/vC2OwB1AgddSP9yzcmi+oW/zYar+RpkkK+sJzfFzVloCbAk+NQvgMzqGPqFBrGlueDKTDKiLowWAA==;BlobEndpoint=https://ftpwebjob.blob.core.windows.net/;TableEndpoint=https://ftpwebjob.table.core.windows.net/;QueueEndpoint=https://ftpwebjob.queue.core.windows.net/;FileEndpoint=https://ftpwebjob.file.core.windows.net/" />
  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ftpwebjob;AccountKey=B4xeV0rR/vC2OwB1AgddSP9yzcmi+oW/zYar+RpkkK+sJzfFzVloCbAk+NQvgMzqGPqFBrGlueDKTDKiLowWAA==;BlobEndpoint=https://ftpwebjob.blob.core.windows.net/;TableEndpoint=https://ftpwebjob.table.core.windows.net/;QueueEndpoint=https://ftpwebjob.queue.core.windows.net/;FileEndpoint=https://ftpwebjob.file.core.windows.net/" />
</connectionStrings>